
@{
    ViewData["Title"] = "Admin Index";
}

<h1>Admin Index</h1>

<p>
    <a asp-area="Admin" asp-controller="AnimeSeries" asp-action="Index">Anime Series</a>
</p>
<p>
    <a asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
</p>
<p>
    <a asp-area="Admin" asp-controller="UserManager" asp-action="Index">Users</a>
</p>
